* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

body {
	padding-top: 52px;
	height: 100vh;
	display:flex;
	flex-direction: column;
}



section#main{
	flex:1;
	dispaly:flex;
	height:0;
}
header#home_header {
	height: 0auto;
	/* border: 1px solid green; */
}

header h1#h1 {
	justify-content: center;
	text-shadow: 1px 0px 0px #aaa;
	/* border: 1px solid green; */
	color: #eee;
	background-color: rgb(3, 102, 53);
	text-align: center;
	line-height: 86px;
	font-weight: 800;
	height: 52px;
	display: flex;
	margin: 0 auto;
	padding-bottom: 0;
}
nav#main_nav {
	/* border: 1px solid green; */
	/* 화면의 특정한 위치에 강제 고정하기 */
	/* top, left, bottom, right 를 이용하여 고정할수 있다 */
	position: flex;
	padding: 0 auto;
	padding-top: 0 auto;
	width: 100%;
	background-color: white;
}

nav#main_nav ul {
	/* border: 1px solid green; */
	display: flex;
	list-style: none;
	font-size: 15px;
	font-weight: 400;
	color: rgb(3, 102, 53);
	text-aline: center;
	width: 100%;
	margin: 0 auto;
	padding-left: 30%;
	padding-right: 30%;
}

nav#main_nav li {
	align-items: center;
	text-aline: center;
	position: flex;
	width: 100%;
	/* border: 1px solid red; */
	margin-bottom: 0 auto;
	height: 60px;
}

nav#main_nav li:hover {
	height: 30px;
	/* background-color: rgb(3, 102, 53); */
	opacity: 0.3;
	color: white;
	cursor: pointer;
	transform: translateY(30px);
	transition: 1s;
	padding: 0 auto;
}

section#top_bar {
	align-items: center;
	display: flex;
	margin: 3px 3px;
	padding: 5px;
}
section#top_bar article#today{
	height:400px;
	text-align: center;
}

section#leftbox {
	padding-left:100px;
	width : 20%;
	margin: 0;
	padding: 10px;
	margin: 0px;
	width: 20%;
	height: 400px;
	text-align: center;
}

section#leftbox article#login {
	width:200px;
	padding: 15px;
	border: 1px dotted #aaa;
	border-radius: 10px;
		text-align: center;
}

/* section#leftbox article#login input {
	padding: 0px;
	height:20px;
	weight:30px;

} */
/* section#leftbox article#login input:hover {
	border: 1px solid #aaa;

}

section#leftbox article#login button {
	border-radius: 3px;
	background-color: white;
	border: 1px solid white;
	display:flex;
}
section#leftbox article#login button:nth-of-type(1){
	margin-left:auto; 
}

section#leftbox article#login button:nth-of-type(2){
	margin-left:auto; 
}

section#leftbox article#login button:hover {
	background-color: white;
	border: 1px solid #aaa;
	cursor: pointer;
}
 */
section#leftbox article#today {
	height: 250px;
	margin: 10px;
	overflow:hidden;	
}

section#main_sec {
	padding: 10px 2px;
	width: 80%;
	height: 400px;
	margin: 5px auto;
	flex: 1;
}

section#main_sec article {
	flex: 1;
	margin: 6px 3px;
	padding: 2px;
	border-bottom: 1px solid #aaa;
	}

section#main_sec article ul, ol {
	margin: 0;
	padding: 0;
}

section#main_sec article li {
	list-style: none;
	margin: 10 15px;
	padding: 0 5px;
}

section#contents article img {
	width: 300px;
	height: 300px;
	display: block;
	margin: 0px auto;
}

img#todayimg{
	width:200px;
	height:200px;
}

section#contents article:nth-of-type(1) {
	background: url("${rootPath}/static/img/back2.jpg") no-repeat;
}

section#contents article:nth-of-type(2) {
	background: url("${rootPath}/static/img/back2.jpg") no-repeat;
}

section#contents article:nth-of-type(3) {
	background: url("${rootPath}/static/img/oreo.jpg") no-repeat;
}

section#acontents article:nth-of-type(4) {
	background: url("${rootPath}/static/img/snicuze.jpg") no-repeat;
}

section#contents article:nth-of-type(5) {
	background: url("${rootPath}/static/img/pigba.jpg") no-repeat;
}