section#contents {
	width: 100%;
	height: 500px;
	display: flex;
}

section#contents article {
	flex: 1;
	height: 100%;
	width: 500px;
	border-radius: 5px;
	overflow: hidden;
}

@keyframes ticker_slide{
	0%{
	transform:translateX(0);
	}
	
	100%{
	
	
	}
}

article#art1 {
	
}

article#art2 {
	
}

article#art3 {
	
}

article#art4 {
	
}

article#art5 {
	
}

article#art6 {
	
}