
section#contents article {
	flex: 1;
	height: 100%;
	width: 400px;
	border-radius: 5px;
	overflow: hidden;
}

@keyframes ticker_slide{
	0%{
	transform:translateX(0);
	}
	
	100%{
	
	transform:translateX(calc(-100px * 6));
	
	}
}

article#art1 {
	
}

article#art2 {
	
}

article#art3 {
	
}

article#art4 {
	
}

article#art5 {
	
}

article#art6 {
	
}